{#
/**
 * @file
 * Default theme implementation to display a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - settings: The custom form settings for the layout.
 *
 * @ingroup themeable
 */
#}

{# Get the column widths #}

{% set column_widths = settings.column_width|split('-') %}

{%
  set row_classes = [
    'row',
    'ucb-bootstrap-layout__row',
    'ucb-bootstrap-layout__row--three-column'
  ]
%}

{% if settings.container_width == 'edge-to-edge' %}
	{% set row_classes = row_classes|merge(['g-0']) %}
{% endif %}

{% if (settings.background_color == 'black') or (settings.background_color == 'dark-gray') %}
	{% set row_color_settings = "ucb-bootstrap-layout-section-dark" %}
{% else %}
	{% set row_color_settings = "ucb-bootstrap-layout-section-light" %}
{% endif %}

{% if content %}
	<div class="ucb-boostrap-layout-section ucb-bootstrap-layout__background-color--{{ settings.background_color }} {{ row_color_settings }}">
		{% if settings.container_width == 'container' %}
			<div class="{{ settings.container_width }}">
			{% endif %}
			<div{{attributes.addClass(row_classes|join(' '))}}>

				{% if content.first %}
					<div {{ region_attributes.first.addClass('column', 'col-lg-' ~ column_widths.0, 'column--first', 'col-12') }}>
						{{ content.first }}
					</div>
				{% endif %}

				{% if content.second %}
					<div {{ region_attributes.second.addClass('column', 'col-lg-' ~ column_widths.1, 'column--second', 'col-12') }}>
						{{ content.second }}
					</div>
				{% endif %}

				{% if content.third %}
					<div {{ region_attributes.third.addClass('column', 'col-lg-' ~ column_widths.2, 'column--third', 'col-12') }}>
						{{ content.third }}
					</div>
				{% endif %}

			</div>
			{% if settings.container_width == 'container' %}
			</div>
		{% endif %}
	</div>
{% endif %}
