{#
/**
 * @file
 * Default theme implementation to display a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - settings: The custom form settings for the layout.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ucb_bootstrap_layouts/ucb-bootstrap-layouts') }}

{% set sectionID = settings.sectionID %}
{% set column_widths = settings.column_width|split('-') %}
{% set row_classes = ['row', 'ucb-bootstrap-layout__row', 'ucb-bootstrap-layout__row--three-column'] %}
{% set frameStyle = settings.content_frame_color == 'none' ? 'content-frame-unstyled' : 'content-frame-styled' %}
{% set frame_classes = ['ucb-content-frame', frameColor, frameStyle] %}
{% set columnHeight = settings.column_equal_height == '1' ? 'd-flex flex-wrap' : '' %}
{% set regions = ['first', 'second', 'third'] %}
{% set max_width = column_widths|sort|last %}
{% set all_equal = column_widths|length == column_widths|filter(width => width == column_widths[0])|length %}
{% if settings.background_image_styles %}
  {% set row_overlay_settings = settings.overlay_color == 'black' 
    ? 'ucb-bootstrap-layout-section-overlay-dark' 
    : settings.overlay_color == 'white' 
    ? 'ucb-bootstrap-layout-section-overlay-light' 
    : 'ucb-bootstrap-layout-section-overlay-none' %}
{% else %}
  {% set row_overlay_settings = '' %}
{% endif %}

{% set row_background_effect = settings.background_effect == 'fixed' 
  ? 'fixed-background' 
  : settings.background_effect == 'parallax' 
  ? 'jarallax' 
  : 'scrolling-background' %}

{% if settings.background_effect == 'parallax' %}
  <script>
    window.onload = function () {
      jarallax(document.querySelectorAll('.jarallax'), {speed: 0.2});
    };
  </script>
{% endif %}

<style>
  .ucb-bootstrap-layout-section.section-{{sectionID}}{
    padding-top: {{settings.section_mobile_padding_top}}
    ;
    padding-bottom: {{settings.section_mobile_padding_bottom}}
    ;
  }

  .section-{{sectionID}}.ucb-content-frame {
    padding-left: {{settings.section_mobile_padding_left}}
    ;
    padding-right: {{settings.section_mobile_padding_right}}
    ;
  }

  @media(min-width: 768px) {
    .ucb-bootstrap-layout-section.section-{{sectionID}}{
      padding-top: {{settings.section_tablet_padding_top}}
      ;
      padding-bottom: {{settings.section_tablet_padding_bottom}}
      ;
    }

    .section-{{sectionID}}.ucb-content-frame {
      padding-left: {{settings.section_tablet_padding_left}}
      ;
      padding-right: {{settings.section_tablet_padding_right}}
      ;
    }
  }

  @media(min-width: 992px) {
    .ucb-bootstrap-layout-section.section-{{sectionID}}{
      padding-top: {{settings.section_padding_top}}
      ;
      padding-bottom: {{settings.section_padding_bottom}}
      ;
    }

    .section-{{sectionID}}.ucb-content-frame {
      padding-left: {{settings.section_padding_left}}
      ;
      padding-right: {{settings.section_padding_right}}
      ;
    }
  }
</style>

{% if content %}
  <div class="ucb-bootstrap-layout-section section-{{ sectionID }} ucb-bootstrap-layout__background-color--{{ settings.background_color }} {{ row_overlay_settings }} {{ row_background_effect }}" style="{{ settings.background_image_styles }}">
    <div class="container ucb-contained-row">
      <div {{ attributes.addClass(row_classes, frame_classes|join(' ')) }} style="padding-left: {{ settings.section_padding_left }}; padding-right: {{ settings.section_padding_right }};">
        {% for i in 0..(regions|length - 1) %}
          {% set region = regions[i] %}
          {% set width = column_widths[i] %}
          {% set column_class = all_equal or width == max_width ? 'main-column' : 'auxiliary-column' %}
          {% if content[region] and content[region]|render|striptags('<img><iframe><slate-form><collection-grid><article-grid-block><article-slider-block><category-cloud-block><current-issue-block><tag-cloud-block><people-list-block><ucb-newsletter-list><latest-issue-block><article-feature-block><status-page-block><faculty-publications><article-list-block>')|trim != '' %}
            <div {{ region_attributes[region].addClass('column', column_class, columnHeight, 'col-lg-' ~ width, 'column--' ~ region, 'col-12') }}>
              {{ content[region] }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
