{#
/**
 * @file
 * Default theme implementation to display a four-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - settings: The custom form settings for the layout.
 *
 * @ingroup themeable
 */
#}

{# Get the column widths #}

{% set column_widths = settings.column_width|split('-') %}

{%
  set row_classes = [
    'row',
    'ucb-bootstrap-layout__row',
    'ucb-bootstrap-layout__row--four-column'
  ]
%}

{% if settings.container_width == 'edge-to-edge' %}
	{% set row_classes = row_classes|merge(['g-0']) %}
{% endif %}

{% if content %}
	<div class="ucb-bootstrap-layout__background-color--{{ settings.background_color }}">
		{% if settings.container_width == 'container' %}
			<div class="{{ settings.container_width }}">
			{% endif %}
			<div{{attributes.addClass(row_classes|join(' '))}}>

				{% if content.first %}
					<div {{ region_attributes.first.addClass('column', 'col-lg-' ~ column_widths.0, 'column--first', 'col-md-6 col-12') }}>
						{{ content.first }}
					</div>
				{% endif %}

				{% if content.second %}
					<div {{ region_attributes.second.addClass('column', 'col-lg-' ~ column_widths.1, 'column--second', 'col-md-6 col-12') }}>
						{{ content.second }}
					</div>
				{% endif %}

				{% if content.third %}
					<div {{ region_attributes.third.addClass('column', 'col-lg-' ~ column_widths.2, 'column--third', 'col-md-6 col-12') }}>
						{{ content.third }}
					</div>
				{% endif %}

				{% if content.fourth %}
					<div {{ region_attributes.fourth.addClass('column', 'col-lg-' ~ column_widths.3, 'column--fourth', 'col-md-6 col-12') }}>
						{{ content.fourth }}
					</div>
				{% endif %}

			</div>

			{% if settings.container_width == 'container' %}
			</div>
		{% endif %}
	</div>
{% endif %}
