{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - settings: The custom form settings for the layout.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ucb_bootstrap_layouts/ucb-bootstrap-layouts') }}

{%
  set row_classes = [
    'row',
    'ucb-bootstrap-layout__row',
    'ucb-bootstrap-layout__row--one-column',
	'g-0'
  ]
%}

{%
  set frameColor = 	'content-frame-' ~ settings.content_frame_color
%}

{%
  set frame_classes = [
    'ucb-content-frame',
	frameColor
  ]
%}

{% if settings.background_image_styles %}
	{% if settings.overlay_color == 'black' %}
		{% set row_overlay_settings = "ucb-bootstrap-layout-section-overlay-dark" %}
	{% elseif settings.overlay_color == 'white' %}
		{% set row_overlay_settings = "ucb-bootstrap-layout-section-overlay-light" %}
	{% else %}
		{% set row_overlay_settings = "ucb-bootstrap-layout-section-overlay-none" %}
	{% endif %}
{% else %}
	{% set row_overlay_settings = "" %}
{% endif %}

{% if settings.background_effect == "fixed" %}
	{% set row_background_effect = "fixed-background" %}
{% elseif settings.background_effect == "parallax" %}
	{% set row_background_effect = "jarallax" %}
{% else %}
	{% set row_background_effect = "scrolling-background" %}
{% endif %}

{% if settings.background_effect == "parallax" %}
	<script>
		window.onload = function () {
jarallax(document.querySelectorAll('.jarallax'), {speed: 0.2});
};
	</script>
{% endif %}

{% if content %}
	<div class="ucb-boostrap-layout-section ucb-bootstrap-layout__background-color--{{ settings.background_color }} {{ row_overlay_settings }} {{ row_background_effect }}" style="{{ settings.background_image_styles }}">
		{% if settings.container_width == "contained" %}
			<div class="container ucb-contained-row">
		{% else %}
			<div class="ucb-edge-to-edge">
		{% endif %}
				<div{{attributes.addClass(row_classes,frame_classes|join(' '))}}>
					<div {{ region_attributes.first.addClass('column', 'column--first', 'col-12') }}>
						{{ content.first }}
					</div>
				</div>
			</div>
	</div>
{% endif %}
