{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - settings: The custom form settings for the layout.
 *
 * @ingroup themeable
 */
#}

{%
  set row_classes = [
    'row',
    'ucb-bootstrap-layout__row',
    'ucb-bootstrap-layout__row--one-column'
  ]
%}

{% if settings.container_width == 'edge-to-edge' %}
	{% set row_classes = row_classes|merge(['g-0']) %}
{% endif %}

{% if (settings.background_color == 'black') or (settings.background_color == 'dark-gray') %}
	{% set row_color_settings = "ucb-bootstrap-layout-section-dark" %}
{% else %}
	{% set row_color_settings = "ucb-bootstrap-layout-section-light" %}
{% endif %}

{% if settings.background_image_styles %}
	{% if settings.overlay_color == 'black' %}
		{% set row_overlay_settings = "ucb-bootstrap-layout-section-overlay-black" %}
	{% else %}
		{% set row_overlay_settings = "ucb-bootstrap-layout-section-overlay-white" %}
	{% endif %}
{% else %}
	{% set row_overlay_settings = "" %}
{% endif %}


{% if content %}
	<div class="ucb-boostrap-layout-section ucb-bootstrap-layout__background-color--{{ settings.background_color }} {{ row_color_settings }} {{ row_overlay_settings }}" style="{{ settings.background_image_styles }}">
		{% if settings.container_width == 'container' %}
			<div class="{{ settings.container_width }}">
			{% endif %}
			<div{{attributes.addClass(row_classes|join(' '))}}>
				<div {{ region_attributes.first.addClass('column', 'column--first', 'col-12') }}>
					{{ content.first }}
				</div>
			</div>
			{% if settings.container_width == 'container' %}
			</div>
		{% endif %}
	</div>
{% endif %}
